.VariableFonts_Container{
    display: flex;
    margin-top: 120px;
    padding-top: 100px;
    overflow-x: hidden;
    .VariableFonts_Content{
        display: flex;
        align-items: center;
        max-width: 1250px;
       
        border-radius: 33px ;

        .VariableFonts_Main{
            

            .VariableFonts_Main_Text{
                margin-bottom: 37px;
                    span{
                        font-weight: 400;
                        font-size: 52px;
                        line-height: 62px;
                        letter-spacing: 0.2px;
                        color: #fff;
                    }
            }

            .VariableFonts_Main_Btn{

                button{
                    padding: 14px 46px;
                    background: #2436fa;
                    color:  #fff;;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 25px;
                    letter-spacing: 0.2px;
                    border: none;
                    transition: 0.7s;
                    border-radius: 5px;
                    &:hover{
                        transition: 0.7s;
                        background-color: white;
                        color: black;
                        border-radius: 15px;
                    }
                }
            }
        }
        
    }
}
@media screen and (min-width:1331px) {
    .VariableFonts_Content{
        background-color: rgba(52, 52, 52, 1);
    }
    .VariableFonts_Img12{
        
        background-image: url("../../img/VariableFontsImg.png");
        width: 581px;
        height: 365px;
        background-repeat: no-repeat;
        border-radius: 0 0 20px;
        
    }

    .VariableFonts_Main_Text{
        width: 407px;
        }
}
@media screen and (max-width: 1330px) {
    .VariableFonts_Container{
        background-color: #1E1E1E;
            .VariableFonts_Content{
            flex-direction: column;
            text-align: center;

            

            .VariableFonts_Img12{
                position: relative;
                top: 3px;
                img{
                    
                    width: 500px;
                    height: 400px;
                   
                }
            }
        }   
    }
    .VariableFonts_Img12{
        margin-top: 79px;
        text-align: center;
        background-position: center;
        background-image: url("../../img/FontsAdaptive.png");
        width: 541px;
        height: 387px;
        background-repeat: no-repeat;
        
        
    }
}
@media screen and (min-width: 601px) {
    .VariableFonts_Main{
        margin: 0 86px 0 94px;
    }
    
}
@media screen and (max-width: 600px) {
    .VariableFonts_Img12{
        
       margin: 79px 0 0 0;
       width: 350px
        
        
    }
}

@media screen and (max-width: 425px) {

    .VariableFonts_Main_Text{
        width: 250px;
        
    }

    .VariableFonts_Img12{
        
       margin: 79px 0 0 0;
       width: 350px
        
        
    }
}

@media screen and (max-width: 370px) {

    .VariableFonts_Main_Text{
        width: 250px;
        
    }

    .VariableFonts_Img12{
        
       margin: 79px 0 0 0;
       width: 300px
        
        
    }
}